* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Inizio Debug */

.debug-column {
    height: 300px;
    border-style: dashed;
}

.debug-row {
    background-color: var(--secondary-color);
    height: 200px;
}



.debug-fifth {
    height: 400px;
    background-color: aquamarine;
    border-style: dashed;
}

.debug-sixth {
    height: 300px;
    text-align: center;
    border-style: dashed;
}

.debug-footer {
    height: 200px;
}

/* Termine Debug */


/* Inizio Utility */

:root {
    --secondary-color: rgb(151, 146, 228);
}

.violet-bg {
    background-color: rgb(151, 146, 228);
}

.container {
    max-width: 600px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.s-between {
    justify-content: space-between;
}

.m-bottom {
    margin-bottom: 20px;
}

.m-top {
    margin-top: 50px;
}

.p-top {
    padding-top: 1rem;
}

.b-radius {
    border-radius: 25px;
}

.centered {
    text-align: center;
}

.container-small {
    max-width: 550px;
    margin: auto;
}

.ls-none {
    list-style: none;
    text-decoration: none;
}

.a-center {
    align-items: center;
}

.button-white {
    background-color: white;
}
.button-blue {
    background-color: rgb(0, 132, 253);
    width: max-content  ;
}

.f-col {
    flex-direction: column;
}

/* Termine Utility */


/* Inizio Codice Principale */

header {
    background-color: rgb(0, 132, 253);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

main {
    padding-top: 80px;
}

.logo {
    height: 2rem;
    padding-left: 1rem;
    padding-top: 5px;
}

.navbars i {
    color: white;
    padding-right: 1rem;
    height: 2rem;
}

.main-menu {
    display: none;
}



.phone-container img{
    max-width: 200px;
}

.card {
    background-color: rgb(181, 221, 255);
    border-radius: 5px;
}
.card div{
    padding: 0 1rem;
}

#fourth h2 {
    text-align: center;
}

.about-us {
    margin-right: 1rem;
}

footer {
    background-color: rgb(51, 51, 51);
}

/* Termine Codice Principale */


/* Inizio Mediaquery Tablet */

@media screen and (min-width: 768px) {
    .container {
        max-width: 740px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.75rem;
    }

    .card {
        width: calc((100% / 3) - 1.5rem);
        margin: 0.75rem 0.75rem;
    }
    .card:first-child {
        width: calc((100% / 3 * 2) - 1.5rem);
    }

    .benefits-cards {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-card {
        width: calc(50% - 2rem);
        margin: 1rem;
    }

    .about-us-flex {
        display: flex;
    }

    .about-us {
        width: calc(30% - 1rem);
    }

    .about-us:first-child {
        width: calc(70% - 1rem);
    }
    
}

/* Termine Mediaquery Tablet */


/* Inizio Mediaquery Desktop */

@media screen and (min-width: 992px) {
    .container {
        max-width: 950px;
    }
    
    .navbars {
        display: none;
    }

    .main-menu {
        display: block;
    }
    .main-menu ul {
        display: flex;
    }
    .main-menu a {
        padding-right: 1rem;
        text-decoration: none;
        color: white;
    }
    
    .button a {
        padding: 1rem;
        color: black;
    }

    .columns {
        display: flex;
    }

    .debug-column {
        width: 45%;
        margin-right: 20px;
    }

    .benefits-card {
        width: calc((100% / 3) - 2rem);
        margin: 5px ;
    }
}

/* Termine Mediaquery Desktop */
